In [ ]:
from importlib import reload
import main
main = reload(main)
main.main()

In [ ]:
quit()

In [ ]:
from importlib import reload
import bioinfo
bioinfo = reload(bioinfo)
bioinfo.main()

In [ ]:
quit()

In [46]:
from importlib import reload
from yeast_abm import yeast_model
yeast_model = reload(yeast_model)
yeast_model.main()

Model: "sequential_29"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_63 (Dense)             (None, 64)                320
_________________________________________________________________
dense_64 (Dense)             (None, 4)                 260
=================================================================
Total params: 580
Trainable params: 580
Non-trainable params: 0
_________________________________________________________________
Train step 0
Loss= 1.0
Train step 1
Loss= 0.98086333
Train step 2
Loss= 0.90895927
Train step 3
Loss= 0.832381
Train step 4
Loss= 0.7531668
Train step 5
Loss= 0.6764586
Train step 6
Loss= 0.6087584
Train step 7
Loss= 0.55705816
Train step 8
Loss= 0.52743864
Train step 9
Loss= 0.51914984
Train step 10
Loss= 0.5156132
Train step 11
Loss= 0.50123787
Train step 12
Loss= 0.47250164
Train step 13
Loss= 0.43481648
Train step 14
Loss= 0.39724067
Train step 15
Loss= 0.36392453
Train step 16
Loss= 0.33779094
Train step 17
Loss= 0.31852108
Train step 18
Loss= 0.3027777
Train step 19
Loss= 0.28839454
Train step 20
Loss= 0.2712007
Train step 21
Loss= 0.25077158
Train step 22
Loss= 0.22826153
Train step 23
Loss= 0.20592399
Train step 24
Loss= 0.18614389
Train step 25
Loss= 0.17031683
Train step 26
Loss= 0.15785566
Train step 27
Loss= 0.14611006
Train step 28
Loss= 0.13276291
Train step 29
Loss= 0.116572216
Train step 30
Loss= 0.09906298
Train step 31
Loss= 0.082742885
Train step 32
Loss= 0.06883059
Train step 33
Loss= 0.05781685
Train step 34
Loss= 0.048792463
Train step 35
Loss= 0.040135466
Train step 36
Loss= 0.031482086
Train step 37
Loss= 0.023421526
Train step 38
Loss= 0.016820472
Train step 39
Loss= 0.012823739
Train step 40
Loss= 0.010584973
Train step 41
Loss= 0.00803633
Train step 42
Loss= 0.004852274
Train step 43
Loss= 0.002193544
Train step 44
Loss= 0.0012071388
Train step 45
Loss= 0.0016879989
Train step 46
Loss= 0.0023146477
Train step 47
Loss= 0.002280304
Train step 48
Loss= 0.0017724712
Train step 49
Loss= 0.001748296
Train step 50
Loss= 0.0028016344
Train step 51
Loss= 0.0042379377
Train step 52
Loss= 0.004914356
Train step 53
Loss= 0.0047666267
Train step 54
Loss= 0.004596404
Train step 55
Loss= 0.0047833263
Train step 56
Loss= 0.0049051237
Train step 57
Loss= 0.0045064627
Train step 58
Loss= 0.0037896074
Train step 59
Loss= 0.0032231174
Train step 60
Loss= 0.0029517114
Train step 61
Loss= 0.0026900237
Train step 62
Loss= 0.0021636647
Train step 63
Loss= 0.001482628
Train step 64
Loss= 0.0009645814
Train step 65
Loss= 0.0007337453
Train step 66
Loss= 0.00063378795
Train step 67
Loss= 0.0004756942
Train step 68
Loss= 0.00025582485
Train step 69
Loss= 0.00010665878
Train step 70
Loss= 0.00010173948
Train step 71
Loss= 0.00015791005
Train step 72
Loss= 0.00015950586
Train step 73
Loss= 0.00010929599
Train step 74
Loss= 9.8531076e-05
Train step 75
Loss= 0.00017582013
Train step 76
Loss= 0.00027646212
Train step 77
Loss= 0.0003185078
Train step 78
Loss= 0.00030134118
Train step 79
Loss= 0.00028646472
Train step 80
Loss= 0.0003068092
Train step 81
Loss= 0.00033052327
Train step 82
Loss= 0.00031726825
Train step 83
Loss= 0.00027681253
Train step 84
Loss= 0.00024846967
Train step 85
Loss= 0.00024232108
Train step 86
Loss= 0.00023014144
Train step 87
Loss= 0.0001910111
Train step 88
Loss= 0.00014070589
Train step 89
Loss= 0.00010719642
Train step 90
Loss= 9.312817e-05
Train step 91
Loss= 7.849931e-05
Train step 92
Loss= 5.3567528e-05
Train step 93
Loss= 3.0655763e-05
Train step 94
Loss= 2.1724269e-05
Train step 95
Loss= 2.0464171e-05
Train step 96
Loss= 1.4339132e-05
Train step 97
Loss= 4.050385e-06
Train step 98
Loss= 5.3325516e-07
Train step 99
Loss= 6.655294e-06

  protein  activation
0   test1         0.0
1   test2         0.0
2   test3         0.0
3   test4         0.0

  protein  activation
0   test1    0.069798
1   test2    0.060108
2   test3    0.002140
3   test4    0.024448

  protein  activation
0   test1    0.166003
1   test2    0.132587
2   test3    0.027520
3   test4    0.057946

  protein  activation
0   test1    0.284307
1   test2    0.211299
2   test3    0.081741
3   test4    0.097352

  protein  activation
0   test1    0.413377
1   test2    0.297386
2   test3    0.168109
3   test4    0.148274

  protein  activation
0   test1    0.542060
1   test2    0.387377
2   test3    0.280861
3   test4    0.220226

  protein  activation
0   test1    0.662698
1   test2    0.484652
2   test3    0.412741
3   test4    0.317717

  protein  activation
0   test1    0.768827
1   test2    0.594023
2   test3    0.553333
3   test4    0.444958

  protein  activation
0   test1    0.860065
1   test2    0.715301
2   test3    0.700205
3   test4    0.597305

  protein  activation
0   test1    0.934499
1   test2    0.848935
2   test3    0.848960
3   test4    0.779270

  protein  activation
0   test1    1.003519
1   test2    1.004095
2   test3    1.005036
3   test4    0.998837

In [ ]:
quit()