In [ ]:
from importlib import reload
import main
main = reload(main)
main.main()

In [ ]:
quit()

In [ ]:
from importlib import reload
import bioinfo
bioinfo = reload(bioinfo)
bioinfo.main()

In [ ]:
quit()

In [11]:
from importlib import reload
from yeast_abm import yeast_model
yeast_model = reload(yeast_model)
model = yeast_model.main()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 256)               2560
_________________________________________________________________
dense_21 (Dense)             (None, 9)                 2313
=================================================================
Total params: 4,873
Trainable params: 4,873
Non-trainable params: 0
_________________________________________________________________
Doing 1 segments
Loss= 0.00021111929
Doing 2 segments
Loss= 0.080167055
Loss= 0.0001532613
1.0701017379760742 seconds to train graduated segments

       protein  activation
0           SK       1.014
1   Cdc2/Cdc13      -0.021
2         Ste9       1.005
3         Rum1       0.998
4         Slp1       0.002
5  Cdc2/Cdc13*       0.010
6     Wee1Mik1       0.991
7        Cdc25       0.001
8           PP      -0.005

       protein  activation
0           SK      -0.006
1   Cdc2/Cdc13      -0.002
2         Ste9       0.001
3         Rum1       0.010
4         Slp1       0.010
5  Cdc2/Cdc13*       0.001
6     Wee1Mik1       1.000
7        Cdc25      -0.007
8           PP       0.001

Sampling interaction between SK and Ste9:
 ---- INTERACTION ----

       protein  activation
0           SK         0.0
1   Cdc2/Cdc13         0.0
2         Ste9         0.0
3         Rum1         0.0
4         Slp1         0.0
5  Cdc2/Cdc13*         0.0
6     Wee1Mik1         0.0
7        Cdc25         0.0
8           PP         0.0

       protein  activation
0           SK       0.050
1   Cdc2/Cdc13      -0.143
2         Ste9       0.054
3         Rum1       0.080
4         Slp1       0.119
5  Cdc2/Cdc13*       0.035
6     Wee1Mik1       0.164
7        Cdc25      -0.113
8           PP       0.206

       protein  activation
0           SK       0.239
1   Cdc2/Cdc13      -0.242
2         Ste9       0.244
3         Rum1       0.313
4         Slp1       0.186
5  Cdc2/Cdc13*       0.066
6     Wee1Mik1       0.398
7        Cdc25      -0.168
8           PP       0.352

       protein  activation
0           SK       0.518
1   Cdc2/Cdc13      -0.270
2         Ste9       0.528
3         Rum1       0.613
4         Slp1       0.193
5  Cdc2/Cdc13*       0.080
6     Wee1Mik1       0.658
7        Cdc25      -0.162
8           PP       0.373

 ---- INTERACTION ----

       protein  activation
0           SK         0.0
1   Cdc2/Cdc13         0.0
2         Ste9         1.0
3         Rum1         0.0
4         Slp1         0.0
5  Cdc2/Cdc13*         0.0
6     Wee1Mik1         0.0
7        Cdc25         0.0
8           PP         0.0

       protein  activation
0           SK      -0.018
1   Cdc2/Cdc13       0.054
2         Ste9       0.946
3         Rum1       0.040
4         Slp1       0.037
5  Cdc2/Cdc13*       0.175
6     Wee1Mik1       0.044
7        Cdc25      -0.083
8           PP       0.128

       protein  activation
0           SK      -0.007
1   Cdc2/Cdc13       0.120
2         Ste9       0.949
3         Rum1       0.131
4         Slp1       0.033
5  Cdc2/Cdc13*       0.304
6     Wee1Mik1       0.133
7        Cdc25      -0.127
8           PP       0.213

       protein  activation
0           SK       0.010
1   Cdc2/Cdc13       0.193
2         Ste9       0.979
3         Rum1       0.230
4         Slp1       0.000
5  Cdc2/Cdc13*       0.414
6     Wee1Mik1       0.246
7        Cdc25      -0.143
8           PP       0.252

 ---- INTERACTION ----

       protein  activation
0           SK         1.0
1   Cdc2/Cdc13         0.0
2         Ste9         0.0
3         Rum1         0.0
4         Slp1         0.0
5  Cdc2/Cdc13*         0.0
6     Wee1Mik1         0.0
7        Cdc25         0.0
8           PP         0.0

       protein  activation
0           SK       0.956
1   Cdc2/Cdc13       0.023
2         Ste9       0.115
3         Rum1       0.167
4         Slp1       0.023
5  Cdc2/Cdc13*      -0.176
6     Wee1Mik1       0.196
7        Cdc25      -0.040
8           PP       0.116

       protein  activation
0           SK       0.930
1   Cdc2/Cdc13       0.018
2         Ste9       0.182
3         Rum1       0.364
4         Slp1       0.035
5  Cdc2/Cdc13*      -0.290
6     Wee1Mik1       0.382
7        Cdc25      -0.174
8           PP       0.187

       protein  activation
0           SK       0.925
1   Cdc2/Cdc13       0.028
2         Ste9       0.234
3         Rum1       0.572
4         Slp1       0.008
5  Cdc2/Cdc13*      -0.372
6     Wee1Mik1       0.546
7        Cdc25      -0.334
8           PP       0.195

 ---- INTERACTION ----

       protein  activation
0           SK         1.0
1   Cdc2/Cdc13         0.0
2         Ste9         1.0
3         Rum1         0.0
4         Slp1         0.0
5  Cdc2/Cdc13*         0.0
6     Wee1Mik1         0.0
7        Cdc25         0.0
8           PP         0.0

       protein  activation
0           SK       1.015
1   Cdc2/Cdc13       0.189
2         Ste9       1.053
3         Rum1       0.097
4         Slp1      -0.055
5  Cdc2/Cdc13*      -0.033
6     Wee1Mik1       0.082
7        Cdc25      -0.031
8           PP       0.098

       protein  activation
0           SK       0.964
1   Cdc2/Cdc13       0.359
2         Ste9       1.039
3         Rum1       0.147
4         Slp1      -0.092
5  Cdc2/Cdc13*      -0.035
6     Wee1Mik1       0.161
7        Cdc25      -0.130
8           PP       0.182

       protein  activation
0           SK       0.864
1   Cdc2/Cdc13       0.496
2         Ste9       0.997
3         Rum1       0.176
4         Slp1      -0.120
5  Cdc2/Cdc13*      -0.014
6     Wee1Mik1       0.247
7        Cdc25      -0.272
8           PP       0.257

In [ ]:
quit()